<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - eShop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="index.html"><img src="{{url_for('static', filename='logo.png')}}" alt="eShop Logo" class="logo" width="50"> eShop</a></h1>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">Home</a></li>
                <li><a href="http://127.0.0.1:5000/">Shop</a></li>
                <li><a href="http://127.0.0.1:5000/tos">TOS</a></li>
                <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
                <li><a href="http://127.0.0.1:5000/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contact Us</h2>
        <p>Have questions? Good luck trying to reach out!!!!!!!!!!!!! :)</p>
    </main>
    <footer>
        <p>&copy; 2025 eShop. All rights reserved.</p>
    </footer>
</body>
</html>